<section class="section experience">
    <div class="section_title">Experience</div>
    <div class="section_content">
        <div class="jobs">
            {% for job in site.data.experience %}
            <div class="job">
                <div class="time-place">
                    <div class="job_company">
                        <img width="30" height="30" src="{{site.baseurl}}/img/companies/{{job.logo}}.svg">
                        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
                    </div>
                    <div class ="job_kra">
                        <ul>
                            {% for point in job.kra %}
                            <li>{{point.pt}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="job_time">{{job.time}}</div>
                </div>
                <div class="job_position">{{job.position}}</div>
                <br>
            </div>
            {% endfor %}
        </div>

        <div>
            <a href="{{site.resume}}" target="_blank">View My Resume</a>
        </div>
    </div>
</section>