<section class="section experience">
    <div class="section__title">Experience</div>
    <div class="section__content">
        <div class="jobs">
            {% for job in site.data.experience %}
            <div class="job">
                <div class="time-place">
                    <div class="job_company">
                        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
                    </div>
                    <div class="job_time">{{job.time}}</div>
                </div>
                <div class="job_position">{{job.position}}</div>
                <br>
            </div>
            {% endfor %}
        </div>

        <div>
            <a class="arrow-link" href="{{site.resume}}" target="_blank">View My Resume</a>
        </div>
    </div>
</section>