<title>{{ site.title }}</title>
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap" rel="stylesheet">
<!--<link href="{{ site.baseurl }}/css/main.css" hreflang="en-us" rel="stylesheet">-->
<link rel="icon" type="image/png" sizes="32x32" href="img/logo-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/logo-16x16.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
