<section class="section skills">
    <div class="section_title">Skills</div>
    <div class="section_content">
        {% for skill in site.data.skills %}
        <div class="skill_category">
            <div class="skill_category_label">{{skill.type}}</div>
            <ul class="skill_items">
                {% for skillItem in skill.value %}
                <li class="skill_item">{{skillItem}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</section>